body {
  background-color: #eaf6f6;
}

.container {
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

h2 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #f76b8a;
}

.form-wrapper {
  background-color: #fcfefe;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 50px rgb(102, 191, 191, 0.4);
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-evenly;
}

.keywords {
  padding: 10px 20px;
  width: 70%;
  border: solid 1px #66bfbf;
  border-radius: 10px;
  font-size: 14px;
}

.submit-button {
  background-color: #66bfbf;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
}

.hint {
  text-align: left;
  padding-left: 20px;
  opacity: 0.6;
  font-size: 13px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.character {
  background-color: #fcfefe;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 50px rgb(102, 191, 191, 0.4);
  margin-bottom: 30px;
}

.character h3 {
  font-size: 18px;
}

.character p {
  line-height: 1.5;
  text-align: left;
  font-weight: 400;
  margin: 0;
}

footer {
  font-size: 13px;
}

footer a {
  color: #f76b8a;
}

.generating {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
